{% extends 'layout.html' %}

{% block content %}
<script type="text/javascript">
    ss = {{ solarsystems | tojson }}
</script>
<div class="container">
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <form autocomplete="off"><input type="text" name="q" id="q" onKeyUp="showResults(this.value)" />
        <div id="result"></div>
    </form>
    <button style="visibility:hidden" id="get_station_market_btn"
        onclick="window.location.href='{{ url_for('market_bp.solarsys_structures') }}'">Get Available
        Structures</button>
</div>
{% endblock %}