{% extends 'layout.html' %}

{% block content %}
<div class="container">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <button class="btn btn-primary" onclick="window.location.href='{{ url_for('logout') }}'">Logout</button>
        <button class="btn btn-primary" onclick="window.location.href='{{ url_for('login', link=True) }}'">Add Character</button>
        <button class="btn btn-primary" onclick="window.location.href='{{ url_for('login', switch=True) }}'">Switch Character</button>
    </div>
    {% for character, attributes in characters.items() %}
        <div class="container">
            <h1>{{character}}</h1>
            <p>{{attributes.get('wallet')}}</p>
            <p>{{attributes.get('orders')}}</p>
            <p>{{attributes.get('wallet_transactions')}}</p>
        </div>
    {% endfor %}
{% endblock %}